<%- contentFor('title') %>Home
<%- contentFor('body') %>
<div class="bg-secondary text-white py-5 text-center shadow">
    <h1><b>EventGenius</b></h1>
    <p>The best place to find events and gatherings in your area</p>
</div>
<div class="container mt-4">

</div>