<%- contentFor('title') %>Error
<%- contentFor('body') %>
<div class="container mt-5">
    <div class="alert alert-danger" role="alert">
        <h4 class="alert-heading"><b>Error</b></h4>
        <span><%= error %></span>
    </div>
</div>