<%- contentFor('title') %>Forgot password
<%- contentFor('body') %>
<div class="container mt-4">
    <div class="card">
        <div class="card-header">
            <h3><b>Forgot password?</b></h3>
        </div>
        <div class="card-body">
            <% if (locals.success) { %>
                <div class="alert alert-success" role="alert">
                    If the email you entered is associated with an account, we have sent you an email with a link to reset
                    your password.
                </div>
            <% } %>
            <p>
                You can reset your password by entering your email address below.<br>
                We will send you an email with a link to reset your password.
            </p>
            <form method="POST">
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="john@doe.com">
                </div>
                <% if (locals.error) { %>
                    <div class="alert alert-danger" role="alert">
                        <%- error %>
                    </div>
                <% } %>
                <button type="submit" class="btn btn-primary">Send reset link</button>
            </form>
        </div>
    </div>
</div>